<template>
  <section v-bind:style="{ left: leftOffset+'px', top: topPosition+'px', height: height+'px', lineHeight: height+'px' }">
      OUT OF BED
  </section>
</template>

<script>
import store from '@/store'

export default {
  props: {
    cells: Object,
    event: Object
  },

  computed: {
    topPosition () {
      const HEADER_HEIGHT = 37
      const CELL_HEIGHT = 30
      const TOP_OFFSET = CELL_HEIGHT / 2 + HEADER_HEIGHT

      return TOP_OFFSET + (this.event.startTime / (store.state.settings.hoursInterval ? 2 : 1))
    },

    height () {
      const duration = this.event.endTime - this.event.startTime
      return duration / (store.state.settings.hoursInterval ? 2 : 1)
    },

    leftOffset () {
      return this.cells.cell1Width
    }
  }
}
</script>

<style scoped lang="scss">
  @import "~@/assets/_variables.scss";

  section {
    position: absolute;
    right: 0;
    color: $wellsense-event-out-text;
    background: $wellsense-event-out-background;
    text-align: center;
    font-weight: 500;
    border: 1px solid #000;
    font-size: 12px;
    z-index: 1;
  }
</style>
