<template>
  <section v-bind:style="{ left: leftOffset+'px', top: topPosition+'px' }">
    <div class="time-in-position" v-bind:style="{
      marginLeft: timeInPositionLeftPosition+'px',
      height: timeInPositionHeight+'px'
     }" v-if="event.overdueDuration">
      <span>
        {{ settings.timeInPositionHourly ? (event.overdueDuration / 60).toFixed(1) : event.overdueDuration }} /
        {{ settings.timeInPositionHourly ? ((event.overdueDuration - event.lastIntervalMinutes) / 60).toFixed(1) : (event.overdueDuration - event.lastIntervalMinutes) }}
      </span>
    </div>
    <div class="turn-type" v-bind:style="{
      marginLeft: turnTypeLeftPosition+'px',
      backgroundImage: 'url(/imgs/'+event.turnType+'.png)'
    }"></div>
    <div class="turn-detected" v-bind:style="{
      marginLeft: turnDetectedLeftPosition+'px',
      backgroundImage: 'url(/imgs/'+event.turnDetected+'.png)'
    }"></div>
    <div class="timer-reset" v-bind:style="{
      marginLeft: timerResetLeftPosition+'px',
      backgroundImage: 'url(/imgs/'+event.timerReset+'.png)'
    }"></div>
    <div class="bellow-threshold" v-bind:style="{
      marginLeft: bellowThresholdLeftPosition+'px',
      backgroundImage: 'url(/imgs/'+event.bellowThreshold+'.png)'
    }"></div>
  </section>
</template>

<script>
import store from '@/store'

export default {
  props: {
    cells: Object,
    event: Object
  },

  computed: {
    topPosition () {
      const HEADER_HEIGHT = 37
      const CELL_HEIGHT = 30
      const TOP_OFFSET = CELL_HEIGHT / 2 + HEADER_HEIGHT

      return TOP_OFFSET + (this.event.startTime / (store.state.settings.hoursInterval ? 2 : 1))
    },

    settings () {
      return store.state.settings
    },

    leftOffset () {
      return this.cells.cell1Width
    },

    turnTypeLeftPosition () {
      return this.cells.cell2Width + this.cells.cell3Width + (this.cells.cell4Width / 2) + 1
    },

    turnDetectedLeftPosition () {
      return this.cells.cell2Width + this.cells.cell3Width + this.cells.cell4Width + (this.cells.cell5Width / 2) + 1
    },

    timerResetLeftPosition () {
      return this.cells.cell2Width + this.cells.cell3Width + this.cells.cell4Width + this.cells.cell5Width + (this.cells.cell6Width / 2) + 1
    },

    bellowThresholdLeftPosition () {
      return this.cells.cell2Width + this.cells.cell3Width + this.cells.cell4Width + this.cells.cell5Width + this.cells.cell6Width + this.cells.cell7Width + (this.cells.cell8Width / 2) + 1
    },

    timeInPositionHeight () {
      const minutesSinceLastEvent = this.event.overdueDuration > this.event.startTime ? this.event.startTime : this.event.overdueDuration
      return minutesSinceLastEvent / (store.state.settings.hoursInterval ? 2 : 1)
    },

    timeInPositionLeftPosition () {
      return this.cells.cell2Width + (this.cells.cell3Width / 2) + 1
    }
  }
}
</script>

<style scoped lang="scss">
  @import "~@/assets/_variables.scss";

  section {
    position: absolute;
    right: 0;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      left: 0;
      right: 0;
      border-bottom: dashed 2px #888;
    }
  }

  .time-in-position {
    position: absolute;
    background: $wellsense-red;
    height: 100px;
    width: 2px;
    bottom: 0;

    span {
      font-size: 9px;
      color: #fff;
      background: $wellsense-red;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      border-radius: 3px;
      padding: 3px 12px;
    }

    &:before {
      content: '';
      position: absolute;
      height: 2px;
      width: 17px;
      background: $wellsense-red;
      transform: translate(-50%, 0);
      top: 0;
    }

    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 17px;
      background: $wellsense-red;
      transform: translate(-50%, 0);
      bottom: 0;
    }
  }
  .turn-type, .turn-detected, .timer-reset, .bellow-threshold {
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
    position: absolute;
    top: -10px;
    background-color: rgba(230, 230, 230, 0.8);
    background-size: contain;
    transform: translate(-50%, 0%);
    z-index: 1;
  }
</style>
