<template>
  <section v-bind:style="{ left: leftOffset+'px', top: topPosition+'px', height: height+'px', lineHeight: height+'px' }">
      <div class="arrow"></div>
      <span v-if="event.intervalMinutes">{{ repositionHourly ? (event.intervalMinutes / 60).toFixed(1) : event.intervalMinutes }}</span>
      <span v-else>OFF</span>
  </section>
</template>

<script>
import store from '@/store'

export default {
  props: {
    cells: Object,
    event: Object
  },

  data () {
    return {
      isAfterBox: false
    }
  },

  mounted () {
    this.isAfterBox = store.state.events.systemOff
      .filter(event => { return event.endTime === this.event.startTime })
      .length ||
      store.state.events.outOffBed
        .filter(event => { return event.endTime === this.event.startTime })
        .length
  },

  computed: {
    topPosition () {
      const HEADER_HEIGHT = 37
      const CELL_HEIGHT = 30
      const TOP_OFFSET = CELL_HEIGHT / 2 + HEADER_HEIGHT

      return TOP_OFFSET + (this.event.startTime / (store.state.settings.hoursInterval ? 2 : 1)) + (this.isAfterBox ? 9 : 0)
    },

    height () {
      const duration = this.event.endTime - this.event.startTime
      return duration / (store.state.settings.hoursInterval ? 2 : 1) - (this.event.followByAnotherArrow ? 7 : 0) - (this.isAfterBox ? 9 : 0) - 1
    },

    leftOffset () {
      return this.cells.cell1Width + (this.cells.cell2Width / 2)
    },

    repositionHourly () {
      return store.state.settings.repositionHourly
    }
  }
}
</script>

<style scoped lang="scss">
  @import "~@/assets/_variables.scss";

  section {
    position: absolute;
    width: 2px;
    background: $wellsense-event-reposition-interval-background;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    z-index: 1;

      span {
          color: $wellsense-event-reposition-interval-text;
          background: $wellsense-event-reposition-interval-background;
          position: absolute;
          top: 0;
          right: 50%;
          width: 30px;
          height: 14px;
          font-size: 10px;
          line-height: 15px;
          border-radius: 3px;
          transform: translate(50%,-50%);
      }

      > div.arrow {
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 9px solid $wellsense-event-reposition-interval-background;
          position: absolute;
          bottom: 0;
          right: 50%;
          transform: translate(50%, 0%);
      }
  }
</style>
