<template>
  <section v-bind:style="style">
      <div class="arrow" :style="{ borderColor: arrowColor }"></div>
      <span>{{ text }}</span>
  </section>
</template>

<script>
import store from '@/store'
import config from '@/config'

export default {
  props: {
    cells: Object,
    event: Object
  },

  data () {
    return {
      arrowColor: '#000',
      styleObject: {},
      isAfterBox: false
    }
  },

  mounted () {
    this.isAfterBox = store.state.events.systemOff
      .filter(event => { return event.endTime === this.event.startTime })
      .length ||
      store.state.events.outOffBed
        .filter(event => { return event.endTime === this.event.startTime })
        .length

    this.$nextTick(function () {
      this.$nextTick(function () {
        this.prepareStyle()
      })
    })
  },

  computed: {
    text () {
      return this.getPressureThresholdConfig(this.event.pressureThreshold).text
    },
    style () {
      return this.styleObject
    },
    repositionHourly () {
      return store.state.settings.repositionHourly
    }
  },

  methods: {
    prepareStyle () {
      let style = this.getPressureThresholdConfig(this.event.pressureThreshold).style
      style.left = this.leftOffset() + 'px'
      style.top = this.topPosition() + 'px'
      style.height = this.height() + 'px'
      style.lineHeight = this.height() + 'px'

      this.arrowColor = style.background

      this.styleObject = style
    },
    getPressureThresholdConfig (pressureThresholdVal) {
      for (let configRow of config.pressureThreshold) {
        if ((pressureThresholdVal >= configRow.min || !configRow.min) && (pressureThresholdVal <= configRow.max || !configRow.max)) {
          return configRow
        }
      }
    },
    topPosition () {
      const HEADER_HEIGHT = 37
      const CELL_HEIGHT = 30
      const TOP_OFFSET = CELL_HEIGHT / 2 + HEADER_HEIGHT

      return TOP_OFFSET + (this.event.startTime / (store.state.settings.hoursInterval ? 2 : 1)) + (this.isAfterBox ? 9 : 0)
    },
    height () {
      const duration = this.event.endTime - this.event.startTime
      return duration / (store.state.settings.hoursInterval ? 2 : 1) - (this.event.followByAnotherArrow ? 7 : 0) - (this.isAfterBox ? 9 : 0) - 1
    },
    leftOffset () {
      return this.cells.cell1Width + this.cells.cell2Width + this.cells.cell3Width + this.cells.cell4Width + this.cells.cell5Width + this.cells.cell6Width + (this.cells.cell7Width / 2)
    }
  }
}
</script>

<style scoped lang="scss">
  @import "~@/assets/_variables.scss";

  section {
    position: absolute;
    width: 2px;
    background: $wellsense-event-reposition-interval-background;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    z-index: 1;

      span {
          color: inherit;
          background: inherit;
          position: absolute;
          top: 0;
          right: 50%;
          padding-left: 20px;
          padding-right: 20px;
          min-width: 30px;
          height: 14px;
          font-size: 10px;
          line-height: 14px;
          border-radius: 3px;
          transform: translate(50%,-50%);
          white-space: nowrap;
      }

      > div.arrow {
          width: 0;
          height: 0;
          border-left: 8px solid transparent !important;
          border-right: 8px solid transparent !important;
          border-top: 9px solid black;
          position: absolute;
          bottom: 0;
          right: 50%;
          transform: translate(50%, 0%);
      }
  }
</style>
