<template>
    <main>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <form>
            <img src="@/assets/logo.png" alt="WellSense logo" />
            <div class="form-group">
                <label for="csvFile">CSV File</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="csvFile" ref="csvFile" required accept=".csv" @change="updateFilename" />
                    <label class="custom-file-label" for="csvFile">{{ filename || 'Choose file' }}</label>
                </div>
            </div>
            <transition name="fade">
                <div class="advanced" v-if="showAdvanced">
                    <div class="form-group">
                        <label for="timeStep1">Time interval</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="timeStep" id="timeStep1" value="true" v-model="settings.timeStep">
                            <label class="form-check-label" for="timeStep1">
                                1 hour
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="timeStep" id="timeStep2" value="false" v-model="settings.timeStep">
                            <label class="form-check-label" for="timeStep2">
                                30 minutes
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="repositionInsightIncludeAll2">Reposition detected summery</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="repositionInsightIncludeAll" id="repositionInsightIncludeAll2" value="true" v-model="settings.repositionInsightIncludeAll">
                            <label class="form-check-label" for="repositionInsightIncludeAll2">
                                Include all turns
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="repositionInsightIncludeAll" id="repositionInsightIncludeAll1" value="false" v-model="settings.repositionInsightIncludeAll">
                            <label class="form-check-label" for="repositionInsightIncludeAll1">
                                Include only success turns
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="repositionHourly1">"Reposition interval" unit</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="repositionHourly" id="repositionHourly1" value="true" v-model="settings.repositionHourly">
                            <label class="form-check-label" for="repositionHourly1">
                                Hours
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="repositionHourly" id="repositionHourly2" value="false" v-model="settings.repositionHourly">
                            <label class="form-check-label" for="repositionHourly2">
                                Minutes
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="timeInPositionHourly1">"Time in position" unit</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="timeInPositionHourly" id="timeInPositionHourly1" value="true" v-model="settings.timeInPositionHourly">
                            <label class="form-check-label" for="timeInPositionHourly1">
                                Hours
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="timeInPositionHourly" id="timeInPositionHourly2" value="false" v-model="settings.timeInPositionHourly">
                            <label class="form-check-label" for="timeInPositionHourly2">
                                Minutes
                            </label>
                        </div>
                    </div>
                </div>
            </transition>
            <button type="button" class="btn btn-outline-info btn-sm" v-if="!showAdvanced" @click.prevent="showAdvanced=true">
                <i class="fas fa-cog"></i> Show more options
            </button>
            <button type="submit" class="btn btn-primary btn-block" @click.prevent="showReport">
                Generate Report <i class="fas fa-chevron-right"></i>
            </button>
        </form>
    </main>
</template>

<script>
import store from '@/store'
import router from '@/router'
import csvtojson from 'csvtojson'

export default {
  data () {
    return {
      showAdvanced: false,
      filename: null,
      settings: {
        timeStep: 'true',
        timeInPositionHourly: 'true',
        repositionHourly: 'true',
        repositionInsightIncludeAll: 'true'
      }
    }
  },

  methods: {
    showReport () {
      const file = this.$refs.csvFile.files[0]
      if (!file) { return }

      let reader = new FileReader()
      reader.onload = () => {
        const fileContent = reader.result
        let data = []

        csvtojson({ noheader: true })
          .fromString(fileContent)
          .on('csv', (csvRow) => {
            data.push(csvRow)
          })
          .on('done', (csvRow) => {
            store.commit('fromCsv', data)
            store.commit('updateSettings', {
              hoursInterval: this.settings.timeStep === 'true',
              timeInPositionHourly: this.settings.timeInPositionHourly === 'true',
              repositionHourly: this.settings.repositionHourly === 'true',
              repositionInsightIncludeAll: this.settings.repositionInsightIncludeAll === 'true'
            })
            router.push('report')
          })
      }

      reader.readAsText(file)
    },
    updateFilename () {
      this.filename = this.$refs.csvFile.files[0].name
    }
  }
}
</script>

<style scoped lang="scss">
    .advanced {
        margin-top: 30px;
    }

    form {
        margin: 80px auto 0;
        width: 300px;

        .custom-file * {
            cursor: pointer;
        }

        button[type=submit] {
            margin-top: 30px;
        }
    }

    img {
        margin: 40px auto;
        display: block;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>
