<template>
  <main>
    <report-header :name="name" :mrn="mrn" :date="date"></report-header>
    <report-insights></report-insights>
    <report-table></report-table>
    <report-legend></report-legend>
    <report-print-button></report-print-button>
  </main>
</template>

<script>
import store from '@/store'
import ReportPrintButton from '@/components/report/ReportPrintButton.vue'
import ReportHeader from '@/components/report/ReportHeader.vue'
import ReportInsights from '@/components/report/ReportInsights.vue'
import ReportTable from '@/components/report/ReportTable.vue'
import ReportLegend from '@/components/report/ReportLegend.vue'

export default {
  components: {
    ReportPrintButton, ReportHeader, ReportInsights, ReportTable, ReportLegend
  },

  computed: {
    name () {
      return store.state.generalInformation.name
    },
    mrn () {
      return store.state.generalInformation.mrn
    },
    date () {
      return store.state.generalInformation.date
    }
  }
}
</script>

<style scoped="" lang="scss">
  @import "~@/assets/_variables.scss";

  main {
    width: 680px;
    margin: 30px auto 0;
  }
</style>
