<template>
  <section>
    <hr>
    <button class="print" @click="print">Print / Export</button> <router-link to="/">Back</router-link><br />
    <small>You can export to PDF by changing printer Destination.</small><br />
    <small>Make sure you check <u>Background graphics</u> under More settings.</small><br />
  </section>
</template>

<script>
export default {
  methods: {
    print () {
      window.print()
    }
  }
}
</script>

<style scoped lang="scss">
  @import "~@/assets/_variables.scss";

  section {
    margin-top: 30px;
    margin-bottom: 70px;
  }
  button.print {
    cursor: pointer;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: $wellsense-blue;
    font-weight: bold;
    outline: none;
    border: 1px solid darken($wellsense-blue, 20%);

    &:hover {
      background: darken($wellsense-blue, 20%);
      transition: background 100ms;
    }
  }

  a {
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    margin-left: 30px;
    padding: 5px 20px;
    background: $wellsense-green;
    display: inline-block;
    color: #000;

    &:hover {
      background: darken($wellsense-green, 20%);
      transition: background 100ms;
    }
  }

  small {
    font-style: italic;
  }

  @media print {
    section, a, hr {
      display: none;
    }
  }
</style>
