<template>
  <section>
    <div class="row">
      <mark>
        <img src="/imgs/ra.png" alt="ra" />
        <small>=&nbsp; Reposition Assist</small>
      </mark>
      <mark>
        <img src="/imgs/rd.png" alt="rd" />
        <small>=&nbsp; Reposition Detected with Reposition Timer Reset</small>
      </mark>
      <mark>
        <img src="/imgs/td.png" alt="td" />
        <small>=&nbsp; Turn Detected</small>
      </mark>
    </div>
    <div class="row">
      <mark>
        <img src="/imgs/manually.png" alt="manualy" />
        <small>=&nbsp; Timer Reset By Manual Override</small>
      </mark>
      <mark>
        <img src="/imgs/yes.png" alt="yes" />
        <small>=&nbsp; Turn Detected</small>
      </mark>
      <mark>
        <img src="/imgs/no.png" alt="no" />
        <small>=&nbsp; Turn Undetected</small>
      </mark>
      <mark>
        <img src="/imgs/none.png" alt="None" />
        <small>=&nbsp; None</small>
      </mark>
    </div>
  </section>
</template>

<script>
export default {

}
</script>

<style scoped lang="scss">
  @import "~@/assets/_variables.scss";

  section {
    width: 100%;
    padding-left: 25px;

    .row {
      display: flex;
      justify-content: space-between;

      mark {
        display: flex;
        background: none;

        img {
          width: 20px;
          height: 20px;
          border-radius: 3px;
        }

        small {
          padding-top: 5px;
          margin-left: 5px;
          font-size: 10px;
        }
      }

      &:first-of-type {
        margin-bottom: 10px;
      }
      & > mark:first-of-type {
        width: 27%
      }
      & > mark:last-of-type {
        width: 23%
      }
    }
  }
</style>
