<template>
  <section>
    <mark class="insight1">
      <span>{{ insight1 }}</span>
      <p>REPOSITIONS DETECTED</p>
    </mark>
    <mark class="insight2">
      <span>{{ insight2 }}</span>
      <p>REPOSITIONS OVERDUE</p>
    </mark>
    <mark class="insight3">
      <span>{{ insight3 }}</span>
      <p class="small">REPOSITIONS WITH PRESSURE BELOW THRESHOLD</p>
    </mark>
    <mark class="insight4">
      <span>{{ insight4 }}</span>
      <p class="small">REPOSITIONS WITH PRESSURE ABOVE THRESHOLD</p>
    </mark>
  </section>
</template>

<script>
import store from '@/store'

export default {
  computed: {
    insight1 () {
      return store.state.settings.repositionInsightIncludeAll
        ? store.state.events.turn.length
        : store.state.events.turn.filter(event => { return event.turnDetected === 'succeeded' }).length
    },
    insight2 () {
      return store.state.events.turn
        .filter(event => { return event.overdueDuration })
        .length
    },
    insight3 () {
      return store.state.events.turn
        .filter(event => { return event.bellowThreshold === 'yes' })
        .length
    },
    insight4 () {
      return store.state.events.turn
        .filter(event => { return event.bellowThreshold === 'no' })
        .length
    }
  }
}
</script>

<style scoped lang="scss">
  @import "~@/assets/_variables.scss";

  section {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-top: 4px solid $wellsense-dark-gray;
    border-bottom: 4px solid $wellsense-dark-gray;
    margin-bottom: 10px;

    mark {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: none;
      width: 190px;
      font-weight: 500;
      color: $wellsense-dark-gray;

      &::before {
        content: ' ';
        width: 45px;
        height: 45px;
        position: absolute;
        z-index: -1;
      }

      p {
        margin: 0;
        font-size: 14px;

        &.small {
          font-size: 11px;
        }
      }

      span {
        display: block;
        width: 45px;
        height: 45px;
        margin-right: 6px;
        flex-shrink: 0;
        text-align: center;
        vertical-align: middle;
        font-size: 30px;
        line-height: 45px;
        color: $wellsense-insight-text;
      }
    }
  }

  .insight1:before { background: $wellsense-insight1; }
  .insight2:before { background: $wellsense-insight2; }
  .insight3:before { background: $wellsense-insight3; }
  .insight4:before { background: $wellsense-insight4; }

</style>
