<template>
  <section>
    <report-event-off v-for="event in events.systemOff" :key="'1-'+event.startTime"
                          :cells="cells"
                          :event="event"
    ></report-event-off>
    <report-event-out v-for="event in events.outOffBed" :key="'2-'+event.startTime"
                          :cells="cells"
                          :event="event"
    ></report-event-out>
    <report-event-regular v-for="event in events.turn" :key="'3-'+event.startTime"
                          :cells="cells"
                          :event="event"
    ></report-event-regular>
    <report-event-interval v-for="event in events.repositionInterval" :key="'4-'+event.startTime"
                          :cells="cells"
                          :event="event"
    ></report-event-interval>
    <report-event-pressure-threshold v-for="event in events.pressureThreshold" :key="'5-'+event.startTime"
                          :cells="cells"
                          :event="event"
    ></report-event-pressure-threshold>
  </section>
</template>

<script>
import ReportEventRegular from '@/components/report/events/ReportEventRegular.vue'
import ReportEventOut from '@/components/report/events/ReportEventOut.vue'
import ReportEventOff from '@/components/report/events/ReportEventOff.vue'
import ReportEventInterval from '@/components/report/events/ReportEventInterval.vue'
import ReportEventPressureThreshold from '@/components/report/events/ReportEventPressureThreshold.vue'
import store from '@/store'

export default {
  props: {
    cells: Object
  },

  components: {
    ReportEventRegular, ReportEventOut, ReportEventOff, ReportEventInterval, ReportEventPressureThreshold
  },

  computed: {
    events () {
      return store.state.events
    }
  }
}
</script>

<style scoped lang="scss">
</style>
