<template>
  <header>
    <section>
      <h1>DAILY REPOSITION ASSIST™ REPORT - {{ date }}</h1>
      <div class="subtitle">
        <p class="left">
          PATIENT NAME:
          <span>{{ name }}</span>
        </p>
        <p class="right">
          MRN:
          <span>{{ mrn }}</span>
        </p>
      </div>
    </section>
    <div class="logo">
      <img src="@/assets/logo.png" alt="Wellsense logo" />
    </div>
  </header>
</template>

<script>
export default {
  props: {
    name: String,
    date: String,
    mrn: String
  }
}
</script>

<style scoped lang="scss">
  @import "~@/assets/_variables.scss";

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    .logo img {
      width: 200px;
      max-width: 100%;
      margin-top: 4px;
    }

    h1 {
      margin: 5px 0;
      font-size: 17px;
      color: $wellsense-dark-gray;
      border-bottom: 2px solid $wellsense-dark-gray;
      letter-spacing: 1px;
      white-space: nowrap;
    }

    div.subtitle {
      display: flex;
      justify-content: space-between;

      p {
        display: inline-block;
        margin: 0;
        font-size: 12px;
        font-weight: 500;
        color: $wellsense-blue;

        span {
          margin-left: 7px;
          color: $wellsense-dark-gray;
        }
      }
    }
  }
</style>
