<template>
  <section class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th style="width: 1.2cm" class="black" ref="timeHeader">Time</th>
        <th style="width: 2.4cm" class="black" ref="repositionIntervalHeader">
          Reposition <br />
          Interval ({{ settings.repositionHourly ? 'Hr' : 'Min' }})
        </th>
        <th style="width: 3cm" class="yellow" ref="timeInPositionHeader">
          Time In Position<br />
          <small>Total {{ settings.timeInPositionHourly ? 'Hr' : 'Min' }} / Overdue {{ settings.timeInPositionHourly ? 'Hr' : 'Min' }}</small>
        </th>
        <th style="width: 2.1cm" class="blue-white" ref="turnTypeHeader">Turn<br /> Type</th>
        <th style="width: 2.1cm" class="blue-white" ref="turnDetectedHeader">Turn<br /> Detected</th>
        <th style="width: 2.1cm" class="blue-white" ref="timerResetHeader">Timer<br /> Reset</th>
        <th style="width: 2.7cm" class="blue-black" ref="pressureThresholdHeader">Pressure<br /> Threshold</th>
        <th style="width: 2.7cm" class="blue-black" ref="belowThresholdHeader">New Position<br /> Below Threshold</th>
      </tr>
      </thead>
      <tbody>
        <tr v-for="time in times" :key="time">
          <td>{{ time }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <report-events :cells="cells"></report-events>
  </section>
</template>

<script>
import ReportEvents from '@/components/report/ReportEvents.vue'
import store from '@/store'

export default {
  data: function () {
    return {
      cells: {
        cell1Width: 0,
        cell2Width: 0,
        cell3Width: 0,
        cell4Width: 0,
        cell5Width: 0,
        cell6Width: 0,
        cell7Width: 0,
        cell8Width: 0
      }
    }
  },

  components: {
    ReportEvents
  },

  props: {
    isRepositionIntervalMinutly: Boolean
  },

  mounted () {
    this.$nextTick(function () {
      // window.addEventListener('resize', this.getTablePositions);
      this.getTablePositions()
    })
  },

  computed: {
    times () {
      let times = []
      for (let hour = 0; hour <= 24; hour++) {
        let newTime = (hour < 10 ? '0' + hour : hour) + ':00'
        times.push(newTime)

        // Check if should show also half hours
        if (store.state.settings.hoursInterval === false && hour !== 24) {
          let newTime = (hour < 10 ? '0' + hour : hour) + ':30'
          times.push(newTime)
        }
      }

      return times
    },

    settings () {
      return store.state.settings
    }
  },

  methods: {
    getTablePositions () {
      this.cells.cell1Width = this.$refs.timeHeader.clientWidth
      this.cells.cell2Width = this.$refs.repositionIntervalHeader.clientWidth
      this.cells.cell3Width = this.$refs.timeInPositionHeader.clientWidth
      this.cells.cell4Width = this.$refs.turnTypeHeader.clientWidth
      this.cells.cell5Width = this.$refs.turnDetectedHeader.clientWidth
      this.cells.cell6Width = this.$refs.timerResetHeader.clientWidth
      this.cells.cell7Width = this.$refs.pressureThresholdHeader.clientWidth
      this.cells.cell8Width = this.$refs.belowThresholdHeader.clientWidth
    }
  },

  beforeDestroy () {
    //    window.removeEventListener('resize', this.getTablePositions);
  }
}
</script>

<style scoped lang="scss">
  @import "~@/assets/_variables.scss";

  section.table-wrapper {
    position: relative;
  }

  table {
    width: 100%;
    border-spacing: 0;
    color: $wellsense-dark-gray;
    font-size: 9px;
    margin-bottom: 10px;

    thead {
      th {
        position: relative;
        height: 35px;
        font-size: 12px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 1px;
          height: 37px;
          background: white;
        }

        &.black { background: #000; color: #fff; }
        &.yellow { background: $wellsense-yellow; color: #fff; }
        &.blue-white { background: $wellsense-blue; color: #fff; }
        &.blue-black { background: #84DBF8; color: #000; }

        small {
          font-size: 9px;
        }
      }
    }
    tbody {
      text-align: center;
      vertical-align: middle;

      tr {
        height: 30px;

        // Fix table borders
        &:first-child {
          td {
            position: relative;

            &:after {
              content: " ";
              position: absolute;
              top: 0;
              right: -1px;
              background: white;
              width: 1px;
              bottom: 50%;
              z-index: 1;
            }
          }
        }
        &:last-child {
          td {
            position: relative;

            &:after {
              content: " ";
              position: absolute;
              top: 50%;
              right: -1px;
              background: white;
              width: 1px;
              bottom: 0;
              z-index: 1;
            }
          }
        }

        td:last-child {
          border-right: 1px solid $wellsense-light-gray;
        }

        td:not(:first-child) {
          position: relative;
          border-left: 1px solid $wellsense-light-gray;

          &:before {
            content: " ";
            position: absolute;
            top: 50%;
            right: 0;
            border-bottom: 1px solid $wellsense-light-gray;
            width: 100%;
          }
        }
      }
    }
  }
</style>
