
// === Global colors ===
$wellsense-dark-gray: #717272;
$wellsense-light-gray: #ddd;
$wellsense-blue: #38c5f4;
$wellsense-yellow: #FFB325;
$wellsense-green: #6CB144;
$wellsense-red: #EC2227;


// === Report: 4 insights boxes ==
$wellsense-insight-text: #fff;
$wellsense-insight1: $wellsense-blue;
$wellsense-insight2: $wellsense-yellow;
$wellsense-insight3: $wellsense-green;
$wellsense-insight4: $wellsense-red;


// === Report: events ==
// = Event: Reposition interval
$wellsense-event-reposition-interval-text: #fff;
$wellsense-event-reposition-interval-background: $wellsense-dark-gray;

// = Event: out of bed
$wellsense-event-out-text: #000;
$wellsense-event-out-background: #fff;

// Event: system off
$wellsense-event-off-text: #000;
$wellsense-event-off-background: repeating-linear-gradient(
                -55deg,
                #bbb,
                #bbb 3px,
                #ccc 3px,
                #ccc 6px
);
