<template>
  <div id="app">
    <router-view v-if="isChrome" />
    <h1 v-else>
      This app developed & tested for <a href="https://www.google.com/chrome/" target="_blank">Chrome browser</a> only.
    </h1>
  </div>
</template>

<script>
export default {
  computed: {
    isChrome () {
      return /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor)
    }
  }
}
</script>
